<h1>Editing Job Application</h1>

<%= render 'form' %>

<%= link_to 'Show', @job_application,class: "btn btn-default" %> |
<%= link_to 'Back', job_seekers_job_applications_path,class: "btn btn-default" %>
