<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @job_application.job_ad.owner_name %>
</h1>
    <p>
      You have new Job application.
      please log in to see job seeker's details.<br>
    </p>
    <p>
      click below link to login:-
    </p>
    <p>
      http://localhost:3000/recruiters/sign_in
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>
