#new_job_seeker .short{
font-weight:bold;
color:#FF0000;
font-size:10px;
}
#new_job_seeker .weak{
font-weight:bold;
color:orange;
font-size:10px;
}
#new_job_seeker .good{
font-weight:bold;
color:#2D98F3;
font-size:10px;
}
#new_job_seeker .strong{
font-weight:bold;
color: limegreen;
font-size:10px;
}