<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @appointed.job_seeker.first_name %> Congratulations!
</h1>
    <p>
      One recruiter interested in your profile. please Contact Company to schedule interview<br>
    </p>
    <p>
      click below link to login:-
    </p>
    <p>
      http://localhost:3000/job_seekers/sign_in
    </p>
    <p>Thanks, have a feture ahead!</p>
  </body>
</html>
